body{
    background-color: #d8d7d7;
    margin: 0;
}

div.head-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    /* margin: 10px; */
    background-color: #FFFFFF;
    /* border: 1px solid aqua; */
}

.profile,.option_img{

    height: 50px;
    width: 50px;
    top: 50px;
    bottom: 50px
}
div.one,
div.two {
    display: grid;
}

.drop {
    height: 40px;
    width: 40px;

}
.box{
    background-color: #FFFFFF;
    display: flex;
    margin: 25px;
    padding: 20px;
    flex-direction: column;
    border-radius:10px; 
}
.course_label{
    font-size: 32px;
    margin-left: 15px;
    border-bottom: 5px solid #32BDD2;
}
.dropbtn{
    align-content: flex-end;
    justify-content: flex-end;
    height: 50px;
    width: 50px;
    top: 50px;
    bottom: 50px;
}
.course{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2,1fr)
}
.course_label_flex{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
}
.img_size_flex{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-items: flex-end;
}
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 550px;
    overflow: inherit;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .show {display: block;}

  .label_title{
    font-size: 28px;
    color: #5A5A5A;
  }
  .label_desc{
      font-size: 21px;
      color: #999999;
  }
  .list{
    margin-top: 10px;
    display: grid;
    grid-auto-rows: inherit;
    grid-template-columns: repeat(2,1fr);
}
.course_list_flex{
    display: grid;
    align-items: flex-start;
    justify-items: flex-start;
    margin-top: 15px;
}
.status_flex{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-items: center;
    margin-right: 100px;
}
.course_description{
    width: 800px;
    height: 32px;
    margin-left:15px ;
    margin-top: 15px;
    color: #999999;
    font-size: 24px;
}
.course_title{
    margin-top: 15px;
    margin-left: 15px;
    color: #5A5A5A;
    font-size: 28px;
    /* height: 32px; */
    justify-content: center;
    align-content: center;
}
.course_status{
    align-content: center;
    justify-content: center;
    background-color: #D0C824;
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 26px 26px 26px 26px;
    border-color:#D0C824; 
}
.format{
    color: #5A5A5A;
    font-size: 24px;
    border: #707070 solid 1px;
    margin-left: 15px;
}
.format_options{
    background-color: #000000;
    color: #FFFFFF;
    font-size: 24px;
}
.learning_format{
    margin-top: 20px;
}
.lesson_label{
    font-size: 32px;
    border-bottom: 5px solid #32BDD2;
    margin-top: 25px;
    margin-left: 15px;
}
.add_section{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    border-style:dashed;
    border-color: #999999; 
}
.section_label{
    font-size: 28px;
    color: #999999;
}
.section_img{
    height: 30px;
    width: 30px;
}
.labelSec{
    font-size: 24px;
    color: #5A5A5A;
    margin-top: 10px;

}
.course_list{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2,1fr);
    background-color: #F0F0F0;
    cursor: pointer;
    padding: 18px;
    /* width: 100%; */
    /* border: none; */
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    /* margin-left: 15px; */
    margin: 15px;
}
.size{
    height: 50px;
    width: 50px;
    top: 50px;
    bottom: 50px;
}
.add_lesson{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-items: center;
    margin-right: 100px;
}
.addlesson{
    align-content: center;
    justify-content: center;
    border-radius:25px 0px 0px 25px;
    background-color: #32BDD2;
    color: #F0F0F0;
    font-size:24px;
    border-color: #32BDD2;  
}
  .list1{
    margin-top: 10px;
    display: grid;
    grid-auto-rows: inherit;
    grid-template-columns: repeat(3,1fr);
    padding: 0 18px;
    background-color: white;
    max-height: 5;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.time_flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeInMin{
    justify-content: center;
    align-content: center;
    font-size: 48px;
    color: #5A5A5A;
}
.img_size_flex1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.dropbtn1{
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    height: 50px;
    width: 50px;
    top: 50px;
    bottom: 50px;
}
.dropdown1 {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 300px;
    height: 500px;
    overflow: inherit;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .show{
      display: block
  }
